@1:100%;
@2:40px;
.jd_db{
  width: @1;
  height: @2;
  background: url("../../img/header-bg.png") repeat-x;
  background-size: 1px 44px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
.jd_db .dyh {
  height: @2;
  width: @2;
  font-size: 22px;
  color: #737373;
  position: absolute;
  top: 3px;
}
.jd_db .dyh:hover{
  color: #0f0f0f;
}
.jd_db h2{
  width: @1;
  height: @2;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: inherit;
  text-align: center;
  position: absolute;
  top:-10px ;
}
#xl:hover{
  color: #0f0f0f;
}
#xl{
  color: #737373;
  padding: 8px 2px 12px;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  right: 0;
}
.xlk{
  display: inline-block;
}
.xlk1{
  display: none;
  width: @1;
  position: absolute;
  top: @2;
  right: 0;
  background-color: #444444;
}
.xlk1 a{
  width: 24%;
  height: 50px;
  color: #ffffff;
  font-size: 22px;
  padding: 8px 10px;
  text-align: center;
  display: inline-block;
}
.xlk1 p{
  font-size: 12px;
}
.xlk1 a:hover {
  background-color: #000000;
}
.xlk:hover .xlk1{
  display: block;
}
.ts{
  width: @1;
  height: 30px;
  position: relative;
  padding: 5px 0;
}